.cartWrapper {
  padding-top: 45px;
  width: 70%;
  margin: auto;
  
}

.cartEmptyText {
  margin: auto;
  color: #274354;
  font-family: "Varela Round";
  font-size: 25px;
  padding-top: 20px;
}

.emptyText {
  color: black;
  font-family: "Century Gothic", sans-serif;
  font-size: 14px;
  padding: 10px 0;
  display: flex;
}

.total {
  color: black;
  font-family: "Century Gothic", sans-serif;
  font-size: 14px;
  padding-bottom:10px;

}

.cartWrapper h1 {
  color: #274354;
  font-family: "Varela Round";
  padding: 15px;
}

.productCollection {
  display: flex;
  box-shadow: 0 0 10px #4b6473;
}

.cartBottom {
  padding: 80px 0;
}

/* Styling product List */

.productCollection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px;
}

.productList {
  list-style: none;
}
.productImg {
  padding-top: 20px;
}

.productImg img {
  width: 300px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0 0 10px #4b6473;
}

.productInfo {
  margin-top: 10px;
}
.add-remove .fa-angle-up,
.add-remove .fa-angle-down {
  font-size: 25px;
  margin: 3px;
  cursor: pointer;
  color: #4b6473;
}
.add-remove .fa-angle-up:hover {
  color: greenyellow;
}
.add-remove .fa-angle-down:hover {
  color: tomato;
}

.removeButton,
.checkoutButton {
  padding: 5px 8px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: 2px solid rgba(4, 30, 66, 0.8);
  border-radius: 5px;
  outline: none;
  transition: 0.4s;
  font-family: "Century Gothic", sans-serif;
}

/* checkbox */
/* checkbox */

#check[type="checkbox"],
#check[type="radio"] {
  display: none;
}

#check[type="checkbox"] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid white;
  font-size: 20px;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
}

#check[type="checkbox"]:checked + label:before {
  color: rgba(255, 255, 255, 0.925);
}
#check[type="radio"] + label:before {
  content: "\26AB";
  color: rgba(255, 255, 255, 0.925);
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  color: rgba(255, 255, 255, 0.925);
  border: 1px solid;
  font-size: 20px;
  line-height: 20px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  transition: font-size ease 0.3s;
}
#check[type="radio"]:checked + label:before {
  font-size: 20px;
}

.productInfo > p {
  color: black;
  font-family: "Century Gothic", sans-serif;
  font-size: 14px;
}

.removeButton:hover {
  background-color: rgb(221, 231, 243);
}
.checkoutButton:hover {
  background-color: rgb(221, 231, 243);
}
.add-remove .fa-angle-up,
.add-remove .fa-angle-down {
  font-size: 25px;
  margin: 3px;
  cursor: pointer;
  color: #4b6473;
}
.add-remove .fa-angle-up:hover {
  color: rgb(2, 2, 37);
}
.add-remove .fa-angle-down:hover {
  color: rgb(46, 10, 10);
}
