.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.checkoutButton {
    padding: 8px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.removeButton {
    padding: 8px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}

.item-desc{
    align-self:center;
}
