/* Christmas logo */
.christmasWrapper {
    width: max-content;
    position: absolute;
    top: 7%;
    left: 2%;
    display: flex;
}

.christmasLogo {
    height: 35px;
    width: 35px;
    background-image: url(../Images//ChristmasImages/christmasLogo.png);
    background-size: cover;
  }
  /* Chistmas Text */

  .christmasText {
    width: max-content;
    margin: auto;
    font-size: 16px;
    color: white;
    font-family: "Open Sans", sans-serif;
  }

  /* Media for Christmas Text */

  @media screen and (max-width: 900px) {
      .christmasText {
          display: none;
      }
  }