h1{
  text-align: center;
  font-size: 30px;
}
.itemBoxWrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.itemBox {
  width: 445px;
  height: 365px;
  border: 7px solid #fff;
  border-radius: 5px;
  margin: 50px;
  transition: 0.3s;
  position: relative;
}
.overlay{
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.overlayText{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: -50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  z-index: 99;
}
.overlayText p{
  color: white;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  z-index: 9999;
  position: relative;
}
.overlayText h3{
  color: white;
  font-family: 'Dancing Script', cursive;
}
.itemBoxSpan span{
  color: #444;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}
.itemBoxSpan span:last-child {
  margin-left: 20px;
  color: #444;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
}
.itemBoxButton button:first-child{
  margin-right: 20px;
}
.itemBoxButton button{
  font-family: 'Quattrocento', serif;
  background: #A6BFCE;
  color: #444;
  font-weight: bold;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.itemBoxButton button:hover{
  background: #6D8695;
  color:rgb(240, 238, 238);
}
.itemBoxSpan{
    color: #444;
    font-family: 'Dancing Script', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.itemImage {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 .itemImage:hover .overlay{
  opacity:0.7;
} 
 .itemImage:hover .overlayText{
  top: 50%;
  left: 50%;
  opacity: 1;
} 
.fadeIn-left{
  left: 20%;
}
.itemDetail {
  width: 100%;
  height: 30%;
}
.itemDetail button{
  width: 132px;
  padding: 11px 12px;
  border-radius: 5px;
}
.itemDetail i {
  color: rgb(182, 47, 47);
}
.itemDetail a i {
  font-size: 26px;
  color: rgb(207, 57, 57);
  cursor: pointer;
}